<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="example suite 1" verbose="3" >
  <parameter name="browser" value="chrome"/>
  <test name="Regression suite 1" >
  <groups>
  <run>
  <include name="munch"/>
  <include name="diarymilk"/>
  </run>
      </groups>
    <classes>
      <class name="Testng.GroupTest"/>
    
                <!-- <class name="Testng.OpenGooogle"/>
      <class name="Testng.Priorityexamples"/> -->
    </classes>
 </test>
</suite>